<!-- Page that shows the files -->
<!doctype html>


<html lang="pt">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arquivos</title>
  </head>


  <body>
  
          
                  
          <div id ="main-content" class="mdl-grid mdl-grid--no-spacing">

            <div id="arquivo">
              <div class="mdl-cell mdl-cell--12-col mdl-color--indigo-900 mdl-color-text--grey-100">
              <h1>Arquivos</h1>
              <span><%= session[:dbox_path]%></span> 

          
              <nav class="mdl-navigation">
                <ul>
                  <li>
                                  
              <!--UPLOAD FILES -->  
                <%= link_to("javascript:fadeT()", :class => "mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent fab-top-right") do %>
                   <i class="material-icons mdl-color-text--white">file_upload</i>
                <% end%>
                    <div class="mdl-tooltip" for="btnadd1">
                      Adicionar arquivo
                    </div>
              </li>
              <!-- end -->

              <!-- CREATE FOLDER -->  
                    <li>
                
                  
                  <%# text_field_tag (:folder_name) %>
                  <%= button_to("javascript:createFolderPopUp()", :class => "mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent fab-top-right", :id => "btnadd2") do %>
                    <i class="material-icons mdl-color-text--white" > folder </i>
                  <% end %>
                  
                

              <div class="mdl-tooltip" for="btnadd2">
                Adicionar pasta
              </div>
              </li>
              <!-- END -->
                  </ul>
              </nav>
          
            </div>

              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <table class="mdl-data-table mdl-js-data-table mdl-color--grey-100">
              <thead>
                <tr>
                  <th><%= link_to '<i class="mdl-color-text material-icons" role="presentation">arrow_back</i>'.html_safe, back_path, method: :post %></th>
                  <th>Nome</th>
                  <th>Data de Criação</th>
                  <th>Data de modificação</th>
                  <th>Tamanho</th>
                  <th>Tipo</th>
                  <th>Autor</th>
                  <th>Versões</th>
                  <th>Download</th>
                  <th>Deletar</th>
                  <th>Editar</th>
                  <th>Mover</th>


                </tr>
              </thead>
              <!-- SHOW THE DIRECTORIES AND FILES FROM DROPBOX -->
              <% @archives.each do |a| %>
                <tbody>
                <tr>
                  <td> </td>
                  <td>
                  <!-- File name -->
                  <p  class="file-name" > <%= a.file_name %> </p> </td> 
                    <div class="mdl-tooltip"  >
                      <%= a.file_name %>
                      
                    </div>

                  <td> <%= localize(a.created_at, :format => :short)%> </td>  <!-- Creation date -->
                  <td> <%= a.updated_at[0..9]%> </td>  <!-- Modification date-->
                  <td> <%# d[3] %> </td>  <!-- Size -->
                  <td> <%# d[4] %> </td>  <!-- Type -->


                  <td> <p  class="owner-name" id= <%= a.owner%> > <%= @owner = a.owner%> </p> </td> <!-- Owner -->
                    <div class="mdl-tooltip"   >
                      <%= a.owner %>
                    </div>
                  <!-- Tamanho -->
                  <td> </td>
                  <!-- Download-->
                  <td>
                   <%= link_to($client.media("#{a.id}.#{a.file_name.split(".").last}")['url'], :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored")  do %>
                      <i class="material-icons">get_app</i>
                    <% end%>
                    
                    
                  </td>
                  
                  <td>
                  <% if !(a.public == false && session[:position]=='OTHER') %>
                    <%= form_tag :action => 'remove' do%>
                      <%= hidden_field_tag(:to_remove, a.file_name) %>
                        <%= button_tag( :type => 'submit', :class => "mdl-button mdl-js-button mdl-button--icon mdl-button--colored") do %>
                          <i class="material-icons">delete</i>
                        <% end %>
                    <% end %>
                  <% end %>
                  </td>
                  <td>
                   <% if !(a.public == false && session[:position]=='OTHER') %>
                         <button type="button" onclick="editButtonClicked(event)" value= <%= a.id %> class="btn btn-info btn-lg"  >  <i class="material-icons">edit</i></button>

                  <% end %>
                   
                  </td>
                  

                  <td> 
                    <%= link_to("javascript:;", :class => "mdl-button mdl-js-button mdl-button--icon mdl-button--colored", :name => "move_link",:id => a.file_name) do %>
                      <i class="material-icons">sort</i>
                    <% end %> 
                  </td>
              <% end %>
              
              </tbody>
              </table>
          <!-- Pages' links -->
          </div>
        </div>
      </div>    
  </body>

  <div class="mdl-card" id="modal">
  <div>
    <p id="cancel"> <%= link_to "x", "javascript:fadeT()" %> </p>
    </div>
      <div class="mdl-card__title mdl-card--border" >
        <h2 class="mdl-card__title-text"> Upload </h2>
      </div>
      <div class="mdl-card__subtitle-text">
        <strong>Suba um arquivo</strong> 
      </div>
      <div class="mdl-card__actions">
        <%= form_tag({action: :upload}, {:onSubmit => 'checkSelectedTags()', multipart: true}) do %>
          <div class="mdl-card__actions"id="form-body">
          <%= file_field_tag 'file' %> <br/>
          <% if session[:position] == 'EB' || session[:position] == 'MC'  %>
           <%= radio_button_tag(:show, true) %>
           <%= label_tag(:acess_field, "Público") %>
           <%= radio_button_tag(:show, false) %>
           <%= label_tag(:acess_field, "Privado") %>
          <% end %> 
          </div>
          <% tags_ids = [] %>
          <% if session[:position] == 'MC' %>
            <%= select_tag(:committeeId, options_for_select(@committees.map { |committee| [committee.xp_name, committee.xp_id] })) %>
          <% end %>
          <div>
            <ul>
            <% @tags.each do |t| %>
            
               <button type="button" class="select-button" onclick="buttonSelected(event)" value= <%= t.id %> >  <%= t.name %></button> 
                
             
            <% end %>
            
            </ul> 
          </div>
          <div class="mdl-card__actions">
          <%= submit_tag "Subir" %>
          </div>
        <% end %>
      </div>


  </div>

  <div class="mdl-card" id="modal_to_move">
  
    <span id="cancel"> <%= link_to "x", "javascript:closePop()" %> </span>
  
      <div class="mdl-card__title mdl-card--border" >
        <h2 class="mdl-card__title-text"> Mover </h2>
      </div>
      
      <div class="mdl-card__actions">
        <%= form_tag({action: :move}) do %>
          <%# hidden_field_tag(:fil, $files) %>
          <%= hidden_field_tag(:owner, current_user.name) %> 
          <%= hidden_field_tag :move_from %>  
          <div class="mdl-card__actions">
          <div class="mdl-card__actions">
          <%= submit_tag "mover" %>
          </div>
        <% end %>
      </div>


  </div>
    
    <div class="mdl-card" id="modal_to_create_folder">
  
    <span id="cancel"> <%= link_to "x", "javascript:createFolderPopUp()" %> </span>
  
      <div class="mdl-card__title mdl-card--border" >
        <h2 class="mdl-card__title-text"> Criar Pasta </h2>
      </div>
      
      <div class="mdl-card__actions">
        <%= form_tag({action: :new_folder}) do %>
          <%# hidden_field_tag "fil", $files %>
          <div class="mdl-card__actions">
          <%= text_field_tag :folder_name  %>
          </div>
          <div class="mdl-card__actions">
          <%= submit_tag "Criar" %>
          </div>
        <% end %>
      </div>


  </div>

   <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</html>